<div class="container-fluid">
    <div class="d-flex p-0 mt-5 justify-content-center">
        <div class="col-lg-3 col-sm">
            <ul class="flex-column pt-5 align-items-center text-start">
                <li class="mb-2 mt-5 ps-5">
                    <a id="details" [ngClass]="{grey: !detailsMenuBtn, bold: detailsMenuBold}" (click)="changeView('details')">{{vehicleType}} details</a>
                </li>
                <li class="mb-2 ps-5" >
                    <a id="plan" [ngClass]="{grey: !planMenuBtn, bold: planMenuBold}" (click)="changeView('plan')">Select plan</a>
                </li>
                <li class="mb-2 ps-5">
                    <a id="addon" [ngClass]="{grey: !addOnMenuBtn, bold: addOnMenuBold}" (click)="changeView('personal')">Select Add-ons</a>
                </li>
                <li class="mb-2 ps-5">
                    <a id="personal" [ngClass]="{grey: !persMenuBtn, bold: persMenuBold}" (click)="changeView('personal')">Personal details</a>
                </li>
                <li class="mb-2 ps-5">
                    <a id="checkout" [ngClass]="{grey: !checkOutMenuBtn, bold: checkOutMenuBold}" (click)="changeView('checkout')">Checkout</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>